﻿
@{
    ViewBag.Title = "Detail";
}

<h2>@Model.Name</h2>
<ul>
    <li>
        IsSubscribedToNewsletter: 
        @Model.IsSubscribedToNewsletter
    </li>
    @if(Model.Birthday != null)
    {
        <li>
            Birthday:
            @Model.Birthday
        </li>
    }
</ul>

