﻿@*@using Vidly.Models
    @model Vidly.Models.Customer*@
@model IEnumerable<Vidly.Models.Customer>

@{
    ViewBag.Title = "Index";
}

<h2>Customer</h2>
@if (!Model.Any())
{
    <p> We dont have any customer</p>
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
              <tr>
                  <th> Customer</th>
                  <th>ID</th>
                  <th> IsSubcribedToNewletter</th>
                  <th> DiscountRate</th>
              </tr>
        </thead>
        <tbody>
            @foreach (var customer in Model)
            {
                <tr>
                    @{var m = customer.Id;
                    }
                    <td>@Html.ActionLink(customer.Name, "Edit", new { id = customer.Id})</td>
                    <td>@customer.Id</td>
                    <td>@customer.IsSubscribedToNewsletter</td>
                    <td>@customer.MembershipType.DiscountRate%</td>
                </tr>
            }
        </tbody>
    </table>
}

